

<ion-card color="primary">
  @if(!isCustomFilter){
    <div class="ion-margin-bottom" style="display: flex; flex-direction: row; justify-content: space-between;">
      <ion-button color="success" shape="round" fill="outline" (click)="handleSave()">
        <ion-icon name="save-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button color="danger" shape="round" fill="outline" (click)="redirectToFilterList()">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
    </div>
  }

  @if(isCustomFilter){
    <ion-button class="ion-margin-bottom"  color="success" shape="round" expand="full" (click)="applyCustomFilter()">
      <ion-label>Apply</ion-label>
    </ion-button>
  }
  
  <ion-list lines="none" mode="ios" class="ion-no-padding">
    <ion-item color="secondary">
      <ion-input class="custom" label="Title" labelPlacement="floating" placeholder="food, fuel ..." [(ngModel)]="title" [disabled]="isCustomFilter? true: false"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding ion-margin-top picker-label">Category :</div>
  <swiper-container slides-per-view="5" css-mode="true">
    @for(item of categories(); let i = $index;track i;){
      <swiper-slide>
        <div class="swiper-slide-container" (click)="handleCategorySelected(item.category.id)">
            <span>{{item.category.name}}</span>
            <ion-icon [name]="item.category.iconName" aria-hidden="true" color="primary"></ion-icon>
            @if(item.state === selectState.include){
              <div class="selected-badge">
                <ion-icon size="small" name="checkmark-circle-outline" aria-hidden="true" color="success"></ion-icon>
              </div>
            }
            @if(item.state === selectState.exclude){
              <div class="selected-badge">
                <ion-icon size="small" name="remove-circle-outline" aria-hidden="true" color="danger"></ion-icon>
              </div>
            }
        </div>
      </swiper-slide>
    }
  </swiper-container>
  <div class="ion-padding ion-margin-top picker-label">Account :</div>
  <swiper-container slides-per-view="5" css-mode="true">
    @for(item of accounts(); let i = $index;track i;){
      <swiper-slide>
        <div class="swiper-slide-container" (click)="handleBankSelected(item.bankId,item.accId)">
          <span>{{item.accName}}</span>
          <app-bank-pic size="small" [picName]="item.picName"></app-bank-pic>
          @if(item.state === selectState.include){
            <div class="selected-badge">
              <ion-icon size="small" name="checkmark-circle-outline" aria-hidden="true" color="success"></ion-icon>
            </div>
          }
          @if(item.state === selectState.exclude){
            <div class="selected-badge">
              <ion-icon size="small" name="remove-circle-outline" aria-hidden="true" color="danger"></ion-icon>
            </div>
          }
        </div>
      </swiper-slide>
    }
  </swiper-container>
</ion-card>

@if(!isCustomFilter){
  <ion-card color="primary">
    <ion-card-header color="tertiary">
      <ion-label color="primary">Set as default filter : </ion-label>
    </ion-card-header>
    <ion-list lines="none" mode="ios" class="ion-no-padding">
      <ion-radio-group [(ngModel)]="isDefaultFilter">
        <ion-item color="secondary">
          <ion-radio [value]="true"> Yes </ion-radio>
        </ion-item>
        <ion-item color="secondary">
          <ion-radio [value]="false"> No </ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  </ion-card>
}

<ion-card color="primary">
  <ion-card-header color="tertiary">
    <ion-label color="primary">Date Range : </ion-label>
  </ion-card-header>
  <ion-list lines="none" mode="ios" class="ion-no-padding">
    <ion-radio-group (ionChange)="handleDateModeChange($event)" [(ngModel)]="selectedDateMode">
      <ion-item *ngFor="let date of dateModes;" color="secondary">
        <ion-radio [value]="date.value">{{ date.label }}</ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-card>

@if(selectedDateMode === "customMonthRange"){
  <ion-card color="primary">
    <ion-card-header color="tertiary">
      <ion-label color="primary">Custom Month Range : </ion-label>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
      <ion-grid>
          <ion-row color="tertiary">
            <ion-col size="2">
              <ion-label>From : </ion-label>
            </ion-col>
            <ion-col size="4">
              <ion-button color="tertiary" shape="round" size="small" id="month-start-modifier" expand="full">{{ customMonthStartModifier ?? "Please Select"}}</ion-button>
              <ion-modal #startModimodal trigger="month-start-modifier" [isOpen]="false">
                <ng-template>
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button (click)="startModimodal.dismiss(null, 'cancel')">Cancel</ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end">
                      <ion-button (click)="startModimodal.dismiss(customMonthStartModifier, 'confirm')">Done</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-picker>
                    <ion-picker-column [value]="customMonthStartModifier" (ionChange)="onChangeStartMonthModifier($event)">
                      <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
                      @for(modifier of monthModifiers;let i = $index; track i){
                        <ion-picker-column-option [value]="modifier">{{modifier}}</ion-picker-column-option>
                      }
                    </ion-picker-column>
                  </ion-picker>
                </ng-template>
              </ion-modal>        
            </ion-col>
            <ion-col size="4">
              <ion-button color="tertiary" shape="round" size="small" id="month-start-modal" expand="full">{{ customMonthStartLabel ?? "Please Select"}}</ion-button>
              <ion-modal #startModal trigger="month-start-modal" [isOpen]="isModelStartOpen">
                <ng-template>
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button (click)="startModal.dismiss(null, 'cancel')">Cancel</ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end">
                      <ion-button (click)="startModal.dismiss(customMonthStart, 'confirm')">Done</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-picker>
                    <ion-picker-column [value]="customMonthStart" (ionChange)="onChangeStartMonth($event)">
                      <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
                      @for(day of daysInMonth;let i = $index; track i){
                        <ion-picker-column-option [value]="day.value">{{day.label}}</ion-picker-column-option>
                      }
                    </ion-picker-column>
                  </ion-picker>
                </ng-template>
              </ion-modal>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="2">
              <ion-label>Until : </ion-label>
            </ion-col>
            <ion-col  size="4">
              <ion-button color="tertiary" shape="round" size="small" id="month-end-modifier" expand="full">{{ customMonthEndModifier ?? "Please Select"}}</ion-button>
              <ion-modal #endModiModal trigger="month-end-modifier" [isOpen]="false">
                <ng-template>
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button (click)="endModiModal.dismiss(null, 'cancel')">Cancel</ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end">
                      <ion-button (click)="endModiModal.dismiss(customMonthEndModifier, 'confirm')">Done</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-picker>
                    <ion-picker-column [value]="customMonthEndModifier" (ionChange)="onChangeEndMonthModifier($event)">
                      <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
                      @for(modifier of monthModifiers;let i = $index; track i){
                        <ion-picker-column-option [value]="modifier">{{modifier}}</ion-picker-column-option>
                      }
                    </ion-picker-column>
                  </ion-picker>
                </ng-template>
              </ion-modal>
            </ion-col>
            <ion-col  size="4">
              <ion-button color="tertiary" shape="round" size="small" id="month-end-modal" expand="full">{{ customMonthEndLabel ?? "Please Select"}}</ion-button>
              <ion-modal #endModal trigger="month-end-modal" [isOpen]="false">
                <ng-template>
                  <ion-toolbar>
                    <ion-buttons slot="start">
                      <ion-button (click)="endModal.dismiss(null, 'cancel')">Cancel</ion-button>
                    </ion-buttons>
                    <ion-buttons slot="end">
                      <ion-button (click)="endModal.dismiss(customMonthEnd, 'confirm')">Done</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                  <ion-picker>
                    <ion-picker-column [value]="customMonthEnd" (ionChange)="onChangeEndMonth($event)">
                      <ion-picker-column-option value="" disabled="true">--</ion-picker-column-option>
                      @for(day of daysInMonth;let i = $index; track i){
                        <ion-picker-column-option [value]="day.value">{{day.label}}</ion-picker-column-option>
                      }
                    </ion-picker-column>
                  </ion-picker>
                </ng-template>
              </ion-modal>
            </ion-col>
          </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
}

@if(selectedDateMode === "customDateRange"){
  <ion-card color="primary">
    <ion-card-header color="tertiary">
      <ion-label color="primary">Custom Date Range : </ion-label>
    </ion-card-header>
    <ion-list lines="none" mode="ios">
      <ion-item color="secondary">
        <ion-label>
          Start Date:
        </ion-label>
        <ion-datetime-button class="custom-ion-datetime-button" datetime="datetime-start" ></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" color="secondary" class="ion-padding">
          <ng-template>
            <ion-card class="">
              <ion-datetime
                class="custom-datetime"
                color="secondary"
                [presentation]="dateTimePresentation"  
                [showDefaultButtons]="true" 
                id="datetime-start" 
                [(ngModel)]="startDate">
              </ion-datetime>
            </ion-card>
          </ng-template>
        </ion-modal>
      </ion-item>
      <ion-item color="secondary">
        <ion-label>
          End Date:
        </ion-label>
        <ion-datetime-button class="custom-ion-datetime-button" datetime="datetime-end" ></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true" color="secondary">
          <ng-template>
            <ion-card class="">
              <ion-datetime 
                class="custom-datetime"
                color="secondary"
                [presentation]="dateTimePresentation" 
                [showDefaultButtons]="true" 
                id="datetime-end" 
                [(ngModel)]="endDate">
              </ion-datetime>
            </ion-card>
          </ng-template>
        </ion-modal>
      </ion-item>

    </ion-list>
  </ion-card>
}


