ion-input.custom {
    --highlight-color-valid: rgb(194, 197, 245);
}

h3{
    text-align: center;
    padding: 12px;
    font-size: 18px;
    margin: 0px;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-button.show-all {
    width: 40%;
    --padding-top: 10px;
    --padding-bottom: 10px;
}