<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Settings</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="onLogout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="secondary">
    <ion-segment [scrollable]="true" value="category">
      <ion-segment-button value="category" content-id="category">
        <ion-label>Category</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bank" content-id="bank">
        <ion-label>Bank</ion-label>
      </ion-segment-button>
      <ion-segment-button value="filter" content-id="filter">
        <ion-label>Filter</ion-label>
      </ion-segment-button>
      <ion-segment-button value="template" content-id="template">
        <ion-label>Template</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
  <ion-segment-view>
    <ion-segment-content id="category">
      <app-category-list></app-category-list>
    </ion-segment-content>
    <ion-segment-content id="bank">
      <app-bank-list></app-bank-list>
    </ion-segment-content>
    <ion-segment-content id="filter">Filter</ion-segment-content>
    <ion-segment-content id="template">Template</ion-segment-content>
  </ion-segment-view>
</ion-content>
