ion-modal {
  --height: auto;
  align-items: end;
}

ion-row{
  background: var(--ion-color-secondary);
  padding: 8px;
}

ion-col{
  display: flex;
  align-items: center;
  justify-content: center;
}